/* Noto Sans KR Font Family */
@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("./assets/fonts/Noto_Sans_KR/NotoSansKR-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}